:root {
    --dark-green: #0D5411;
    --light-green: #95e67e;
    --hover-green: #F3F7F4;
    --grey-color: #555;
    --grey-shadow: #e0e0e0;
    --grey-hover: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

html,
body {
    margin: 0 60px;
}

main {
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 16px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.08),
        0 2px 6px rgba(0, 0, 0, 0.05);
}

.section {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}

.section > :first-child {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-green);
    border-bottom: 1px solid var(--grey-hover);
}

.section > div {
    padding: 20px 0;
}

p {
    color: var(--grey-color);
}

p.intro {
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    color: #323131;
    margin-top: 15px;
}

.back-to-login {
    width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    border-radius: 25px;
    border: 1px solid var(--dark-green);
    background: linear-gradient(to right, var(--dark-green), var(--light-green));
}

.back-to-login:hover {
    background: linear-gradient(to right, var(--light-green), var(--dark-green));
}

.about-me-content {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--grey-hover);
    display: flex;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 20%;
}

.profile-picture img {
    width: 190px;
    height: 250px;
    border-radius: 10px;
}

.info {
    width: 80%;
    height: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info > :first-child {
    font-size: 30px;
    font-weight: 900;
    color: var(--dark-green);
}

.contact p {
    font-size: 16px;
    margin-bottom: 5px;
}

.education-info ul,
.project-box ul {
    padding: 15px;
}

.education-info ul li,
.project-box ul li,
.skill-info ul li {
    padding: 5px 0;
}

.skill-info ul li {
    list-style: none;
}

.project-box {
    margin: 15px 0;
    padding: 10px 20px;
    background-color: var(--hover-green);
    border-left: 4px solid var(--grey-color);
}

.project-box p {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 560px) {
    html,
    body {
        margin: 0;
    }

    main {
        padding: 10px;
    }

    .about-me-content {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .profile-picture,
    .info {
        width: 100%;
    }

    .profile-picture {
        text-align: center;
    }

    .info {
        height: auto;
    }

    .info > :first-child {
        text-align: center;
        margin-bottom: 10px;
    }

    .education-info > :first-child {
        flex-direction: column;
        gap: 10px;
    }
}
